<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.min.css")">
	  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome-ie7.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/boot-business.css")">
    
    <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/boot-business.js")" type="text/javascript"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootbusiness | Short description about company">
    <meta name="author" content="Your name">
    <title>learn more about CSAP</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap responsive -->
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Font awesome - iconic font with IE7 support --> 
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <!-- Bootbusiness theme -->
    <link href="css/boot-business.css" rel="stylesheet">
  </head>
  <body>
  <header>
      <!-- Start: Navigation wrapper -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a href="@routes.Index.index" class="brand brand-bootbus">Computer Science Alumni Platform<small> CSAP</small>
</a>
            <!-- Below button used for responsive navigation -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Start: Primary navigation -->
            
            <div class="nav-collapse collapse" style="float:left;">        
              <ul class="nav pull-right">
			  <li class="dropdown">
                 <a href="@routes.Index.index">Home<b class="caret"></b></a>
                  
                </li><li class="dropdown">
                  <a href="#" >Events<b class="caret"></b></a>
                  
                </li><li class="dropdown">
                  <a href="#" >Seminars<b class="caret"></b></a>
                  
                </li>
                <li class="dropdown"><a href="#"  >Jobs Offers<b class="caret"></b></a>
                                   
                </li>
                <li class="dropdown">
                  <a href="#"  >ScolorShips<b class="caret"></b></a>
                  
                </li>
                <li><a href="faq.html">Contact Adminstrator </a></li>
               <li><a href="">About CSAP</a></li>
                <div style="float:right; margin:-50px 0px  0px 200px;">
                <form action="@routes.Register.signup()" method="get">
                <button class="btn btn-large btn-primary" type="submit">Sign up</button></form>
                <form action="@routes.KeyChecker.login()" method="get" style="margin:-65px 0px  0px 100px;">
                <button class="btn btn-large btn-primary" type="submit">Sign in</button></form></div>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <!-- End: Navigation wrapper -->   
    </header><br><br>
  </body>
    <!-- Start: HEADER -->
   
    <!-- End: HEADER -->
    <!-- Start: Main content -->
    <div class="content">    
      <div class="container">
        <!-- Start: Product description -->
        <airticle class="article">
          <div class="row bottom-space">
            <div class="span12">
              <div class="page-header">
                <h1>Learn More ...</h1>
              </div>
            </div>
            <div class="span12 center-align">
              <img src="@routes.Assets.at("img/girls.jpg")"  class="thumbnail" style="margin: -0px 0px 0px 0px;" width="400" height="400">              
            </div>
          </div>
          <div class="row">
            <div class="span10 offset1">
              <p style ="letter-spacing:2px; text-indent: 40px;">
                  Our team is composed of two members:<br>
1. Monira is a student in 7th semester of computer science faculty
Software Engineering department and works in ITCH and teaches
as a tutor in Herat Computer Science Faculty. <br>
2. Salma is a student in 5th semester of computer science faculty
Software Engineering department and works in Software
Engineering Department and teaches as a tutor in Herat Computer
Science Faculty. <br><br>
We take part in all of the project phases together but more specifically
our system divides in three parts: 
view (belongs to salma), controller (belongs to Monira) and model (both of us). 
                  
               </p>     
                                                    
            </div>      
          </div>
          
        </airticle>
        <!-- End: Product description -->
      </div>
    </div>
    </div>
    <!-- End: Main content -->
    <!-- Start: FOOTER -->
    <footer>
      
      <hr class="footer-divider">
      <div class="container">
        <p>
          &copy; 2012-3000 Bootbusiness, Inc. All Rights Reserved.
        </p>
      </div>
    </footer>
    <!-- End: FOOTER -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/boot-business.js"></script>
  </body>
</html>
