<!DOCTYPE html>
<html lang="en">
  <head>
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.min.css")">
	  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome-ie7.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/boot-business.css")">
    
    <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/boot-business.js")" type="text/javascript"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootbusiness | Short description about company">
    <meta name="author" content="Your name">
    <title>Success</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap responsive -->
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Font awesome - iconic font with IE7 support --> 
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <!-- Bootbusiness theme -->
    <link href="css/boot-business.css" rel="stylesheet">
  </head>
  <body>
    <!-- Start: HEADER -->
    <header>
      <!-- Start: Navigation wrapper -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a href="@routes.Index.index" class="brand brand-bootbus">Computer Science Alumni Platform <Small> CSAP</small></a>
            <!-- Below button used for responsive navigation -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Start: Primary navigation -->
            <div class="nav-collapse collapse">        
              <ul class="nav pull-right">
			  <li class="dropdown">
                  <a href="@routes.Index.index">Home<b class="caret"></b></a>
                  
                </li><li class="dropdown">
                  <a href="#" >Events<b class="caret"></b></a>
                  
                </li><li class="dropdown">
                  <a href="#" >Seminars<b class="caret"></b></a>
                  
                </li>
                <li class="dropdown"><a href="#"  >Jobs Offers<b class="caret"></b></a>
                                   
                </li>
                <li class="dropdown">
                  <a href="#"  >ScolorShips<b class="caret"></b></a>
                  
                </li>
                <li><a href="#">Contact Adminstrator </a></li>
<li><a href="@routes.Index.aboutCSAP">About CSAP</a></li>  
	   
        
              </ul>
            </div>
          </div>
        </div>
      </div><br> <br>
      <!-- End: Navigation wrapper -->   
    </header>
    <!-- End: HEADER -->
    <!-- Start: Main content -->
    <div class="content">    
      <div class="container">
        <!-- Start: Product description -->
        <airticle class="article">
          <div class="row bottom-space">
            <div class="span12>
			<div class="span9">
     <table class="table table-striped">
     <div class="container" >

	
   <tr><td><br><br><br><div class="alert alert-success"><h3>You Have Successfully Registered to CSAP</h3></div><br>Now You are one of the CSAP members.<br>enjoy using it<br><br><br>
   <form action="@routes.Register.createProfile()" method="get">
 <button class="btn btn-inverse" type="submit">Sign In and Create Profile</button><br><br>
 </form>
</td></tr>
</div></table>
    </div>
			
                                         
            </div>      
          </div>
          
        </airticle>
        <!-- End: Product description -->
      </div>
    </div>
    </div>
    <!-- End: Main content -->
    <!-- Start: FOOTER -->
    <footer>
      
      <hr class="footer-divider">
      <div class="container">
        <p>
          &copy; 2012-3000 Bootbusiness, Inc. All Rights Reserved.
        </p>
      </div>
    </footer>
    <!-- End: FOOTER -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/boot-business.js"></script>
  </body>
</html>
