
<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap.min.css")">
   <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/bootstrap-responsive.min.css")">
	  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome.css")">
  <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/font-awesome-ie7.css")">
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/boot-business.css")">
    
    <script src="@routes.Assets.at("js/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/bootstrap.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.at("js/boot-business.js")" type="text/javascript"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Bootbusiness | Short description about company">
    <meta name="author" content="Your name">
    <title>sign out</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap responsive -->
    <link href="css/bootstrap-responsive.min.css" rel="stylesheet">
    <!-- Font awesome - iconic font with IE7 support --> 
    <link href="css/font-awesome.css" rel="stylesheet">
    <link href="css/font-awesome-ie7.css" rel="stylesheet">
    <!-- Bootbusiness theme -->
    <link href="css/boot-business.css" rel="stylesheet">
  </head>
  <body>
    <!-- Start: HEADER -->
    <header>
      <!-- Start: Navigation wrapper -->
      <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
          <div class="container">
            <a href="@routes.Index.index" class="brand brand-bootbus">Computer Science Alumni Platform <Small> CSAP</small></a>
            <!-- Below button used for responsive navigation -->
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <!-- Start: Primary navigation -->
            <div class="nav-collapse collapse">        
              <ul class="nav pull-right">
			  <li class="dropdown">
                  <a href="@routes.Index.index">Home<b class="caret"></b></a>
                  
                </li><li class="dropdown">
                  <a href="#" >Events<b class="caret"></b></a>
                  
                </li><li class="dropdown">
                  <a href="#" >Seminars<b class="caret"></b></a>
                  
                </li>
                <li class="dropdown"><a href="#"  >Jobs Offers<b class="caret"></b></a>
                                   
                </li>
                <li class="dropdown">
                  <a href="#"  >ScolorShips<b class="caret"></b></a>
                  
                </li>
                <li><a href="#">Contact Adminstrator </a></li>
                <li><a href="@routes.Index.aboutCSAP">About CSAP</a></li>
                <div style="float:right; margin:-30px 0px  0px 200px;">
                 <form action="@routes.Index.index()" method="get">
 <button class="btn btn-primary" type="submit">Sign Out</button> 
 </form></div>
              </ul>
            </div>
          </div>
        </div>
      </div><br> <br>
      <!-- End: Navigation wrapper -->   
    </header>
    <!-- End: HEADER -->
    <!-- Start: Main content -->
    <div class="content">    
      <div class="container">
        <!-- Start: Product description -->
        <airticle class="article">
          <div class="row bottom-space">
            <div class="span12">
              <div class="page-header">
               
	<div class="container">
	
  
      <br><br><br><br><br><br>
   <form action="@routes.SearchMember.submitSearch()" method="post" class="navbar-search pull-left">
	
	Search by:	
	
	<select name="searchBy">
	<option value="id">id</option>
	<option value="name">name</option>
	<option value="lastname">lastname</option>
	
	</select>
	
      <input type="text" class="search-query" placeholder="Search" name = "searchStudent">
	
	
	
	<input type="submit" class="btn btn-inverse">
	
 </form></div>
 <br><br><br><br><br><br>
 
 
 
 

    </div>
                                                    
            </div>      
          </div>
          
        </airticle>
        <!-- End: Product description -->
      </div>
    </div>
    </div>
    <!-- End: Main content -->
    <!-- Start: FOOTER -->
    <footer>
      
      <hr class="footer-divider">
      <div class="container">
        <p>
          &copy; 2012-3000 Bootbusiness, Inc. All Rights Reserved.
        </p>
      </div>
    </footer>
    <!-- End: FOOTER -->
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/boot-business.js"></script>
  </body>
</html>
